* {
    margin: 0;
    padding: 0;
}

body {
    background: #00FF00;
}

.cake { 
    color: red;
    background: yellow;
    font-size: 500px;
    margin-top: 75px;
    margin-left: 350px;
    padding: 75px;
    height: 700px;
    width: 700px;
}